/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --title-shadow:var(--accent-color);
  --background-color:#000028;
  --section-title-color: var(--accent-color);
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --title-massage-color: var(--background-color);
  --corners-color: var(--accent-color);
  --background-image: url(/images/cover-image-dark.png);
  --title-decor: var(--accent-color);
  --image-title-color: var(--background-color);
}
