/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff0070;
  --title-shadow: var(--accent-color);
  --background-color:#fff1f7;
  --section-title-color: var(--main-text-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --title-massage-color: var(--main-text-color);
  --corners-color: var(--main-text-color);
  --background-image: url(/images/cover-image-light.png);
  --title-decor:#FF8DCB;
  --image-title-color: var(--main-text-color);
  --link-shadow: var(--title-decor);
  --feature-color: var(--background-color);
  --focus-color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff0070;
    --title-shadow: var(--accent-color);
    --background-color:#fff1f7;
    --section-title-color: var(--main-text-color);
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --title-massage-color: var(--main-text-color);
    --corners-color: var(--main-text-color);
    --background-image: url(/images/cover-image-light.png);
    --title-decor:#FF8DCB;
    --image-title-color: var(--main-text-color);
    --link-shadow: var(--title-decor);
    --feature-color: var(--background-color);
    --focus-color: var(--main-text-color);
  }
}

